@use './variables' as *;

.container {
  width: min(100% - 32px, $max-content-width);
  margin-inline: auto;
  position: relative;
  z-index: 2;
}

section {
  padding-block: $section-pad;
  scroll-margin-top: $space-7xl;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $space-m;
}

.col-12 {
  grid-column: span 12;
}
.col-6 {
  grid-column: span 6;
}

@media (max-width: 900px) {
  .col-6,
  .col-4 {
    grid-column: span 12;
  }
}
