/**
 * Base: Reset
 * -----------------------------------------------------------------------------
 * Original - https://piccalil.li/blog/a-modern-css-reset/
 * Updated and adapted from - https://andy-bell.co.uk/a-more-modern-css-reset/
 *
 */
// stylelint-disable declaration-no-important, no-duplicate-selectors, property-disallowed-list, time-min-milliseconds

/*
 * Box sizing rules.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Remove default margin.
 */
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
}

/*
 * Prevent font size inflation.
 */
html {
  text-size-adjust: none;
}

/*
 * Set core root defaults.
 */
html:focus-within {
  scroll-behavior: smooth;
}

/*
 * Set core body defaults.
 */
body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizespeed;
}

/*
 * Set shorter line heights on headings and interactive elements.
 */
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  line-height: 1.1;
}

/*
 * Remove list styles on ul, ol elements.
 * - Re-added in .rte class elements.
 */
ol,
ul {
  list-style: none;
  padding: 0;
}

/*
 * A elements that don't have a class get default styles.
 */
a:not([class]) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

/*
 * Make images easier to work with.
 */
img,
picture {
  display: block;
  max-width: 100%;
}

/*
 * Inherit fonts for inputs and buttons.
 */
button,
input,
select,
textarea {
  font: inherit;
}

/*
 * Make sure textareas without a rows attribute are not tiny.
 */
textarea:not([rows]) {
  min-height: 10rem;
}

/*
 * Anything that has been anchored to should have extra scroll margin.
 */
:target {
  scroll-margin-block-start: var(--header-height);
}

/*
 * Remove all animations and transitions for people that prefer not to see them.
 */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
