@use '../variables' as *;
@use '../mq' as *;

.contact {
  &__panel {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-m;
    align-items: start;
  }

  &__title {
    margin-top: 0;
    line-height: $line-height-0;
    letter-spacing: $letter-spacing-1;
  }

  &__cta {
    display: flex;
    gap: $space-s;
    flex-wrap: wrap;
  }

  @include mq($from: m) {
    &__panel {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
