@use '../variables' as *;

.site-footer {
  padding: $space-l 0 $space-l;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-2xs;
  }
  &__built-with {
    color: $muted;
    font-size: $font-size-m;
    line-height: $line-height-0;
    letter-spacing: $letter-spacing-1;
    margin: 0;
  }
  &__copyright {
    font-size: $font-size-s;
    color: $accent;
    margin: 0;
  }
}
